#profileimg
{
    position:relative;
    padding: 15px;
    float: left;
    width: 225px;
    height:225px;
}

.info{
    text-align: left;
    margin-top: 50px;
    color: grey;
    font-weight: bold;
}


body{
    background-color: #DDF0FF;
    font-size: 12px;
    font-family: Arial;
}

div.profile{
    overflow: auto;
    margin: auto;
    width: 700px;
    height: 50%;
    background-color: white;
    border-top: solid 4px blue;
}

h4{
    color: black
}

.bio{
    margin-left: 15px;
    color: black;
    position: relative;
}


.button{
    text-align: center;
    padding: 15px;
}

#btn1{
    background-color: green;
    font-weight: bold;
    border-color: green;
    color: white;
    border-radius: 10%;
    margin-left: 50px;
    width: 150px;
}

#btn2{
    background-color: skyblue;
    border-color: skyblue;
    font-weight: bold;
    color: white;
    border-radius: 10%;
    margin-left: 50px;
    width: 150px;
}

.content {
    background-color: white !important;
    width: 600px;
    margin: 0 auto;
    padding:10px;
    border-top: #0000A0 solid 2px;
}