{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
<div id="profile">
    <div id="content">
    <h1>Add Profile </h1>
    
    <form method="POST" action="{{ url_for('profile') }}" enctype="multipart/form-data">
      {% include 'flash_messages.html' %}
      {{ form.csrf_token }}
     <div class="form-group"{{form.firstname.label}}
     {% for message in form.firstname.errors %}
     <div class="flash"> {{message }} </div>
     {% endfor %}
     {{form.firstname(size=20,class="form-control")}}</div>
     
     <div class="form-group"{{form.lastname.label}}
     {% for message in form.lastname.errors %}
     <div class="flash"> {{message }} </div>
     {% endfor %}
     {{form.lastname(size=20,class="form-control")}}</div>
     
     <div class="form-group"{{form.gender.label}}
     {% for message in form.gender.errors %}
     <div class="flash"> {{message }} </div>
     {% endfor %}
     {{form.gender(class="adjust form-control")}}</div>
     
     <div class="form-group"{{form.email.label}}
     {% for message in form.email.errors %}
     <div class="flash"> {{message }} </div>
     {% endfor %}
     {{form.email(class="adjust form-control")}}</div>
     
     <div class="form-group"{{form.location.label}}
     {% for message in form.location.errors %}
     <div class="flash"> {{message }} </div>
     {% endfor %}
     {{form.location(class="adjust form-control")}}</div>
     
     <div class="form-group"{{form.bio.label}}
     {% for message in form.bio.errors %}
     <div class="flash"> {{message }} </div>
     {% endfor %}
     {{form.bio(class="adjust form-control")}}</div>
     
     <div class="form-group"><p>Upload images here</p>
     {{form.photo}} 
     <br>
     {% for message in form.photo.errors %}
     <div class="error">{{ message }}</div>
     {% endfor %}
     </div>
     
     
     <div>
         <button type="submit" class="btn btn-success btn-md">Add Profile</button>
    </div>
     
     </form>
     </div>
</div>
{% endblock %}